google-api-python-client==1.6.2
requests==2.18.3
pykube==0.14.0
tarsnapper==0.4.0
aiochannel==0.2.2
structlog[dev]==17.2.0
attrs==17.3.0
pendulum==0.8.0
confcollect==0.2.3
isodate==0.5.4
python-dateutil==2.6.0
aiohttp==3.4.1
aiostream==0.2.4
boto3==1.5.25
yarl==1.1.1
# python-digitalocean==1.13.2
-e git+git://github.com/NiR-/python-digitalocean@knp#egg=python-digitalocean
